
header{

    text-align: center;
    align-content: center;

}


nav {
    align-items: center;

    display: block;

}

nav ul {
    list-style: none;
    border-style: ridge;
    border-color: red;
    border-width: 6px;

    display: block;
     

}

nav ul li {
    display: inline;
    text-decoration: none;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    margin: 10px;
}

nav {
    width: max-content;
}

@font-face {
    font-family: Punk;
    src: url(../fonts/Punkband.ttf);
}

h1 {
    color: rgba(255, 0, 0, 1);
    font-family: Punk;
    font-size: 70px;
    font-weight: 500;

}

.contenido {
    text-align: center;
}

.contenido h2 {
    font-size: 45px;
}

.contenido h2 hr {
    display: inline ;
    width: 50px;
    background-color: red;
    border-color: red;
    border:30px;

   
}

.container {
    margin: 30px;
    display: inline-block;
    max-width: 39%;

}

.container * {
    margin: 20px;
    font-size: 30px;
}

.container h3 a img {
    margin: 0;
    padding: 0;

    border-radius: 50%;

    width: 25px;
    height: 25px;
}


